body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 255, 162);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    gap:20px;
  }

.container{
    width: 500px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin:30px;
    margin-top: 50px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.pixel{
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid gray;
  box-sizing: border-box;
}

.controls{
}