body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 255, 162);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans";
    gap: 20px;
  }

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header>h1{
  margin-bottom: 0;
}

.container{
    width: 500px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin:30px;
    margin-top: 50px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.pixel{
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid gray;
  box-sizing: border-box;
}

.content{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.controls{
  margin-top: 30px;
}

button {
  background-color: #f50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#range1 {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

#range1::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

#range1::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

#range1::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

@media (max-width:600px) {
   body{
      flex-direction: column;
   }
   .content{
    flex-direction: column;
    margin-left: 2%;
   }
   .container{
      width: 250px;
      height: 250px;
   }
}