body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    font-family: "Helvetica";
    gap: 10px;
    background: url(https://images3.alphacoders.com/129/1298880.png);
    background-repeat:  no-repeat;
    background-size: cover ;
  }

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.429);
  width: 100%;
  color: rgb(127,91,165);
}

.header>h1{
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-size: 3.5rem;
}

.container{
    width: 500px;
    height: 500px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin:30px;
    margin-top: 10px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    opacity: 90%;
}

.pixel{
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid gray;
  box-sizing: border-box;
}

.content{
  display: flex;
  flex-direction: row;
  margin-left: 21%;
}
.controls{
  color: rgb(127,91,165);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  background-color: rgba(255, 255,255, 0.458);
  padding: 10px;
}

button {
  background-color: rgb(127,91,165);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.btns{
  display: flex;
}

#range1 {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

#range1::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

#range1::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid rgb(127,91,165);
  box-shadow: -407px 0 0 400px rgb(127,91,165);
}

#range1::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

@media (max-width:600px) {
   body{
      flex-direction: column;
   }
   .content{
    flex-direction: column;
    margin: 20px;
   }
   .container{
      width: 280px;
      height: 280px;
   }
   .header>h1{
     text-align: center;
     font-size: 2.5rem;
   }
}